* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
blockquote,
p,
ul{
  margin: 0;
  padding: 0;
}

main{
  display: block;
}

h1,
h2,
h3,
h4{
  font-size: inherit;
}
a,
button{
  color: inherit;
  transition: .3s;
}
a{
  text-decoration: none;
}
a:hover{
  color: red;
}

img{
  max-width: 100%;
  height: auto;
  border: 0;
}
.avatar{
  display: inline-block;
  vertical-align: middle;
  height: 2em;
  width: 2em;
  border-radius: circle;
}
.likes,
.created-at{
  float: right;
}
.ui-card header{
  line-height: 2em;
  flex-wrap: wrap;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
