<h1>Welcome to the home page</h1>


<form action="/result" method="get">
  <input type="text" name="first_currency" value=""> + <input type="text" name="second_currency" value="">
  <button>get it</button>
</form>
