<!-- <h2>update movies list</h2>

<form action="/movies/<%= @movie['id'] %>" method="post">

  <input type="hidden" name="method" value="patch">

  <label for="">Title</label>
  <input type="text" name="title" value="<%= @movie['title'] %>">

  <label for="">poster</label>
  <input type="text" name="image_url" value="<%= @movie['image_url'] %>">

  <button>update</button>
</form> -->
