<form class="" action="/dishes" method="post">
  <label for="">name</label>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <label for=""></label>
  <textarea name="image_url" ></textarea>
  <button>Create</button>
</form>
